.ProfilePicture {
  margin: 20px auto;
  width: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProfilePicture-image {
  border-radius: 50%;
  width: 100%;
}
