.Header {
  background-color: #222;
  border-top: 1px solid rgba(17, 17, 17, 0.125);
  border-bottom: 1px solid rgba(17, 17, 17, 0.125);

  min-height: 40px;
  overflow: auto;
}

.Header-container {
  // Old browsers
  background: #222222;
  // FF 3.6 - 15
  background: -moz-linear-gradient(
    left,
    #222222 0%,
    #303030 50%,
    #222222 100%
  );
  // Chrome 10 - 25, Safari 5.1 - 6
  background: -webkit-linear-gradient(
    left,
    #222222 0%,
    #303030 50%,
    #222222 100%
  );
  // W3C, IE 10+, FF 16+, Chrome 26+, Opera 12+, Safari 7+
  background: linear-gradient(
    to right,
    #222222 0%,
    #303030 50%,
    #222222 100%
  );
  // IE 6 - 9
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#222222',
      endColorstr='#222222',
      GradientType=1
    );

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20%;
  grid-row-gap: 0%;
  justify-content: stretch;
  align-items: center;

  height: 100%;
  width: 100%;
}

.Header-item {
  display: flex;

  flex-direction: column;

  justify-content: center;
  align-items: center;
}
