@import 'settings/index.css';

.App {
  min-height: 100%;
  height: 100vh;

  /* background-image: url('../../shared/assets/images/profile-picture.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.App-font {
  font-family: var(--font-theboldfont);
  size: 2rem;
  color: black;
}

.App-content {
  position: absolute;

  margin-left: 10vh;
  width: 100%;
}

.App-container {
  display: flex;
  height: 100%;
  width: 100%;
}
